// Primary Colors
$clr-primary-orange: hsl(31, 77%, 52%);
$clr-primary-cyan: hsl(184, 100%, 22%);
$clr-primary-dark-cyan: hsl(179, 100%, 13%);

// Neutral Colors
$clr-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
$clr-neutral-light-gray: hsl(0, 0%, 95%);

// Body Copy
$default-font-size: 15px;

// Fonts
$font-familiy-primary: "Big Shoulders Display", cursive;
$font-familiy-secondary: "Lexend Deca", sans-serif;
